@model MercDevs_ej2.Models.Fichatecnica
@{
    ViewData["Title"] = "Ficha Tecnica";
}

<div class="text-center">
    <h1>Ficha Tecnica</h1>
</div>

<div class="row mt-2 justify-content-end">
    <div class="col-sm-3">
    <label>ID:</label>
    <br />
    <label>Fecha:</label>
    </div>
</div>

<div class="row mt-5 justify-content-center">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-center">
                Datos del Usuario
            </div>

            <div class="container">
                <div class="row border-bottom">
                    <div class="col border-end">
                        <label class="control-label">Nombre:</label>
                        <label>...</label>
                    </div>
                    <div class="col border-end">
                        <label class="control-label">Apellido:</label>
                        <label>...</label>
                    </div>
                     <div class="col">
                        <label class="control-label">Celular:</label>
                        <label>...</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 border-end">
                        <label class="control-label">Correo:</label>
                        <label>...</label>
                    </div>
                    <div class="col">
                        <label class="control-label">Direccion:</label>
                        <label>...</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5 justify-content-center">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-center">
                Observaciones del Usuario
            </div>

            <div class="container">
                <div class="row border-bottom">
                    <div class="col-1 border-end">
                        <label class="control-label">Nº</label>
                    </div>
                    <div class="col border-end text-center">
                        <label class="control-label">Descripcion</label>
                    </div>
                    <div class="col-1">
                        <label class="control-label">Check</label>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-1 border-end">
                        <label class="control-label">1</label>
                    </div>
                    <div class="col border-end text-center">
                        <label class="control-label">...</label>
                    </div>
                    <div class="col-1">
                        <label class="control-label">si</label>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-1 border-end">
                        <label class="control-label">2</label>
                    </div>
                    <div class="col border-end text-center">
                        <label class="control-label">...</label>
                    </div>
                    <div class="col-1">
                        <label class="control-label">no</label>
                    </div>
                </div>
                <div class="row border-bottom">
                    <div class="col-1 border-end">
                        <label class="control-label">3</label>
                    </div>
                    <div class="col border-end text-center">
                        <label class="control-label">...</label>
                    </div>
                    <div class="col-1">
                        <label class="control-label">si</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row mt-5 justify-content-center">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-header text-center">
                Datos del Hardware
            </div>

            <div class="container">
                <div class="row border-bottom">
                    <div class="col border-end">
                        <label class="control-label">Nombre:</label>
                        <label>...</label>
                    </div>
                    <div class="col border-end">
                        <label class="control-label">Apellido:</label>
                        <label>...</label>
                    </div>
                    <div class="col">
                        <label class="control-label">Celular:</label>
                        <label>...</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 border-end">
                        <label class="control-label">Correo:</label>
                        <label>...</label>
                    </div>
                    <div class="col">
                        <label class="control-label">Direccion:</label>
                        <label>...</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>